<!DOCTYPE html>
<html>
<head>
    <title>Registro Admin</title>
</head>
<body>
    <h2>Registro Administrador</h2>

    <form method="POST">
        <input type="text" name="nombre" placeholder="Nombre" required><br><br>
        <input type="email" name="email" placeholder="Correo" required><br><br>
        <input type="password" name="contrasena" placeholder="Contraseña" required><br><br>
        <input type="password" name="confirmar_contrasena" placeholder="Confirmar Contraseña" required><br><br>
        <input type="text" name="clave_admin" placeholder="Clave Admin" required><br><br>

        <button type="submit">Registrar</button>
    </form>

    <a href="/admin">Volver al login</a>
</body>
</html>